<% if (teams) { %>
    <script>
        var teams = JSON.parse('<%- teams %>');
        console.log('teams ',teams)
    </script>
<% } %>
    <script>
        var selectedTeam = null;
    </script>
<% if (selectedTeam) { %>
    <script>
        selectedTeam = {
            id: '<%- selectedTeam.id %>',
            id_enterprise: '<%- selectedTeam.id_enterprise %>',
            admin: '<%- selectedTeam.admin %>',
            name: '<%- selectedTeam.name %>',
            description: '<%- selectedTeam.description %>',
            active: '<%- selectedTeam.active %>',
            createdAt: '<%- selectedTeam.createdAt %>',
            updatedAt: '<%- selectedTeam.updatedAt %>',
        };
    </script>
<% } %>

<% if (schedules) { %>
    <script>
        var schedules = JSON.parse('<%- schedules %>');
        console.log('schedules ',schedules)
        schedules.map(item => {
            console.log('item ',item)
        })
    </script>
<% } %>

<script>
    var events = [
        { team: 1, title: 'Reunião de Daily', description: "Lorem Ipsumas asd asdas das das s", date: '2022-08-26', time: '16:00:00', color: '#E77979' },
        { team: 1, title: 'Reunião do IF', description: 'Reunioão basicona asdasdsadas asdasd as dasd asd asd asdasdasdas das dasd asd', date: '2022-08-26', time: '16:00:00', color: '#8F79E7' },
        { team: 1, title: 'Reunião do IF', description: 'Reunioão basicona asdasdsadas asdasd as dasd asd asd asdasdasdas das dasd asd', date: '2022-08-26', time: '16:00:00', color: '#B0E779' },
        { team: 1, title: 'Reunião do IF', description: 'Reunioão basicona asdasdsadas asdasd as dasd asd asd asdasdasdas das dasd asd', date: '2022-08-26', time: '16:00:00', color: '#B0E779' },
        { team: 1, title: 'Reunião do IF', description: 'Reunioão basicona asdasdsadas asdasd as dasd asd asd asdasdasdas das dasd asd', date: '2022-08-26', time: '16:00:00', color: '#B0E779' },
        { team: 1, title: 'Reunião do IF', description: 'Reunioão basicona asdasdsadas asdasd as dasd asd asd asdasdasdas das dasd asd', date: '2022-08-26', time: '16:00:00', color: '#79E7A5' },
        { team: 1, title: 'Reunião do IF', description: 'Reunioão basicona asdasdsadas asdasd as dasd asd asd asdasdasdas das dasd asd', date: '2022-08-02', time: '16:00:00', color: '#E79A79' },
        { team: 1, title: 'Reunião do IF', description: 'Reunioão basicona asdasdsadas asdasd as dasd asd asd asdasdasdas das dasd asd', date: '2022-08-02', time: '16:00:00', color: '#B0E779' },
    ];
</script>


<div class="calendar">
    <div class="calendar-selectors">
        <div class="calendar-month">
            <div onclick="prevMonth()"><img src="/imgs/arrow.png" alt="" srcset=""></div>
            <p id="calendar-month-name"></p>
            <div onclick="nextMonth()"><img src="/imgs/arrow.png" class="arrow-reverse" alt="" srcset=""></div>
        </div>
        <div class="calendar-year">
            <div onclick="prevYear()"><img src="/imgs/arrow.png" alt="" srcset=""></div>
            <p id="calendar-year-number"></p>
            <div onclick="nextYear()"><img src="/imgs/arrow.png" class="arrow-reverse" alt="" srcset=""></div>
        </div>
    </div>
    <div class="calendar-weekNames">
        <div class="calendar-weekName"><p>DOM</p></div>
        <div class="calendar-weekName"><p>SEG</p></div>
        <div class="calendar-weekName"><p>TER</p></div>
        <div class="calendar-weekName"><p>QUA</p></div>
        <div class="calendar-weekName"><p>QUI</p></div>
        <div class="calendar-weekName"><p>SEX</p></div>
        <div class="calendar-weekName"><p>SÁB</p></div>
    </div>

    <div class="calendar-week" id="calendarWeek">
        <!-- <div class="calendar-day"></div> -->
        <!-- <div class="calendar-day">1</div> -->
    </div>
</div>

<div id="schedule-show-bg">
    <div class="schedule-create-card">
        <div id="schedule-form">
            <div class="schedule-header">
                <% if(!selectedTeam) { %>
                    <h3 id="schedule-group"></h3>                        
                <% } %>
                <h3 id="schedule-title"></h3>
                <p id="schedule-date"></p>
            </div>

            <p id="schedule-descriptionn"></p>

            <div class="schedule-button-container">
                <% if(selectedTeam) { %>
                    <!--
                        <div class="schedule-button" onclick="toggleModal1()"><p>Marcar outra</p></div>
                    -->
                <% } %>
                <div class="schedule-button cancel" onclick="toggleModal2()"><p>Fechar</p></div>
            </div>
        </div>
    </div>
</div>

<% if(selectedTeam) { %>
    <div id="schedule-create-bg">
        <div class="schedule-create-card">
            <form action="/schedules" method="post" id="schedule-form">
                <label for="description">Título:</label>
                <input class="input-name" type="text" name="title">

                <label for="description">Descrição: </label>
                <textarea class="input-name" name="description"></textarea>

                <label for="time">Horário:</label>
                <input class="input-name" type="time" name="time" id="schedule-form-datetime">

                <div id="schedule-hidden-inputs"></div>
                
                <input type="hidden" name="id_user" value="<%= user.id %>">
                <input type="hidden" name="id_team" value="<%= selectedTeam.id %>">

                <div class="schedule-button-container">
                    <div class="schedule-button cancel" onclick="toggleModal1()"><p>Cancelar</p></div>
                    <input class="schedule-button" type="submit" value="Criar">
                </div>
            </form>
        </div>
    </div>
<% } %>

<script src="/js/calendar.js"></script>