<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcalendar | Enterprise Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="header">
            <p class="title"><%=enterprise.name%></p>
            <a href="/users/logoff"><img src="/imgs/logout.png"></a>
        </div>

        <div class="calendar">
            <div class="calendar-selectors">
                <div class="calendar-month"></div>
                <div class="calendar-year"></div>
            </div>
            <div class="calendar-weekNames">
                <div class="calendar-weekName"><p>DOM</p></div>
                <div class="calendar-weekName"><p>SEG</p></div>
                <div class="calendar-weekName"><p>TER</p></div>
                <div class="calendar-weekName"><p>QUA</p></div>
                <div class="calendar-weekName"><p>QUI</p></div>
                <div class="calendar-weekName"><p>SEX</p></div>
                <div class="calendar-weekName"><p>SÁB</p></div>
            </div>

            <div class="calendar-week" id="calendarWeek">
                <!-- <div class="calendar-day"></div> -->
                <!-- <div class="calendar-day">1</div> -->     
            </div>
        </div>

        <div class="aside">
            <div class="Tcalendar">
                <img class="calendarIcon" src="/imgs/calendar.png">
                <p class="TcalendarText">Tcalendar</p>
            </div>
            <p class="TcalendarText">Suas equipes</p>
            <div class="lines">
                <% for (let team of teams){ %> 
                    <a href="/teams/<%=team.id%>">
                        <div class="Tcalendar">
                            <img class="Tcalendar" src="/imgs/team.png">
                            <p class="TcalendarText"><%=team.name%></p>
                        </div>
                    </a>
                <% } %> 
            </div>
            <div class="profile">

            </div>
        </div>
    </div>
    <%  if(owner){ %>
        convidar usuario para empresa
        <form action="/enterprises/adduser" method="post">
            <input type="email" name="email" placeholder="Email do usuario" required>
            <input type="submit" value="Convidar Usuario para empresa">
        </form>
    <% } %>
    <a href="/teams"> criar time </a>

    <script src="/js/calendar.js"></script>
</body>
</html>