<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcalendar | Enterprise Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/calendar.css">
    <link rel="stylesheet" href="/css/teams.css">
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="header">
            <p class="title"><%=enterprise.name%></p>
            <a href="/users/logoff"><img src="/imgs/logout.png"></a>
        </div>

        <%- include('includes/calendar') %>

        <div class="aside">
            <div class="Tcalendar">
                <img class="calendarIcon" src="/imgs/calendar.png">
                <p class="TcalendarText">Tcalendar</p>
            </div>

            <% if(selectedTeam) { %>
                <p class="TcalendarText">Membros (<%= members.length %>)</p>
                
                <% for(let i = 0; i < members.length ; i++){ %>
                    <div class="memberRow">
                        <img src="<%= members[i].dataValues.Users[0].dataValues.img %>" alt="" class="memberImage">
                        <div class="memberText">
                            <p class="memberTitle">
                                <%= members[i].dataValues.Users[0].dataValues.name %> 
                                <% if(teams.find(item => selectedTeam.id == item.id).admin == members[i].dataValues.Users[0].dataValues.id ) { %>
                                    - Admin
                                <% } %>
                            </p>
                            <p class="memberSubtitle"><%= members[i].dataValues.Users[0].dataValues.email %></p>
                            <!-- members[0].dataValues.Users[0].dataValues.name -->
                        </div>
                    </div>
                <% } %>

                <% if(teams.find(item => selectedTeam.id == item.id).admin == user.id ) { %>
                    <button type="button" class="add-member-button" onclick="toggleModalMember()">Adicionar participante</button>
                <% } %>
            
                <div id="add-member">
                    <div class="teams-create-card">
                        <form action="/teams/<%= selectedTeam.id %>/invite" method="post">
                            <h3>Adicionar membro</h3>
                            <label for="email">Email:</label>
                            <input class="input-name" type="text" name="email" id="">
                            <!-- <input type="hidden" name="email" id="" value=""> -->
                            <div class="teams-button-container">
                                <div class="teams-button cancel" onclick="toggleModalMember()"><p>Cancelar</p></div>
                                <input class="teams-button" type="submit" value="Adicionar">
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>

            <div class="profile">
                <a href="/users/update">
                    <div class="profileRow">
                        <img src="<%= user.img %>" alt="" class="userImage">
                        <div class="profileText">
                            <p class="profileTitle"><%= user.name %></p>
                            <p class="profileSubtitle"><%= user.email %> - <%= user.enterprise.name %> </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="footer">
            <%- include('includes/teams') %>
        </div>
    </div>

    <!-- <%  if(owner){ %>
        convidar usuario para empresa
        <form action="/enterprises/adduser" method="post">
            <input type="email" name="email" placeholder="Email do usuario" required>
            <input type="submit" value="Convidar Usuario para empresa">
        </form>
    <% } %>
    <a href="/teams"> criar time </a> -->
    <script src="/js/member.js"></script>
</body>
</html>