<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcalendar | Enterprise Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <%- include('includes/icon') %>
    <%- include('includes/font') %>
</head>
<body>
    <div class="main">
        <div class="header">
            <p class="title"><%=enterprise.name%></p>
            <a href="/users/logoff"><img src="/imgs/logout.png"></a>
        </div>

        <div class="calendar">
            <div class="calendar-selectors">
                <div class="calendar-month"></div>
                <div class="calendar-year"></div>
            </div>
            <div class="calendar-weekNames">
                <div class="calendar-weekName"><p>DOM</p></div>
                <div class="calendar-weekName"><p>SEG</p></div>
                <div class="calendar-weekName"><p>TER</p></div>
                <div class="calendar-weekName"><p>QUA</p></div>
                <div class="calendar-weekName"><p>QUI</p></div>
                <div class="calendar-weekName"><p>SEX</p></div>
                <div class="calendar-weekName"><p>SÁB</p></div>
            </div>

            <div class="calendar-week" id="calendarWeek">
                <!-- <div class="calendar-day"></div> -->
                <!-- <div class="calendar-day">1</div> -->     
            </div>
        </div>

        <div class="aside">
            <div class="Tcalendar">
                <img class="calendarIcon" src="/imgs/calendar.png">
                <p class="TcalendarText">Tcalendar</p>
            </div>
            <p class="TcalendarText">Suas equipes</p>
            <div class="lines">
                <% for (let team of teams){ %> 
                    <a href="/teams/<%=team.id%>">
                        <div class="Tcalendar">
                            <img class="calendar" src="/imgs/team.png">
                            <p class="TcalendarText"><%=team.name%></p>
                        </div>
                    </a>
                <% } %> 
            </div>
            <div class="profile">

            </div>
        </div>
    </div>
    <%  if(owner){ %>
        convidar usuario para empresa
        <form action="/enterprises/adduser" method="post">
            <input type="email" name="email" placeholder="Email do usuario" required>
            <input type="submit" value="Convidar Usuario para empresa">
        </form>
    <% } %>
    <a href="/teams"> criar time </a>

    <script>
        const divCalendarWeek = document.getElementById('calendarWeek');
        
        let date = new Date();

        let days = [];

        // const months = [
        //     {id: 0, txt: 'Janeiro', days: 31},
        //     {id: 1, txt: 'Fevereiro', days: 28},
        //     {id: 2, txt: 'Março', days: 31},
        //     {id: 3, txt: 'Abril', days: 30},
        //     {id: 4, txt: 'Maio', days: 31},
        //     {id: 5, txt: 'Junho', days: 30},
        //     {id: 6, txt: 'Julho', days: 31},
        //     {id: 7, txt: 'Agosto', days: 31},
        //     {id: 8, txt: 'Setembro', days: 30},
        //     {id: 9, txt: 'Outubro', days: 31},
        //     {id: 10, txt: 'Novembro', days: 30},
        //     {id: 11, txt: 'Dezembro', days: 31},
        // ];

        const getAllDaysInMonth = (year, month) => {
            const date = new Date(year, month, 1);

            const dates = [];

            while (date.getMonth() === month) {
                dates.push(new Date(date));
                date.setDate(date.getDate() + 1);
            }

            return dates;
        }

        const generateDays = (date) => {
            let datesss = getAllDaysInMonth(date.getFullYear(), date.getMonth());
            console.log(datesss);
            let newDaysACommin = [];
            
            datesss.map(day => {
                let obj = {day: null, week: '', events: [], date: day.toDateString()};
                obj.week = day.getDay();
                obj.day = day.getDate();
                
                newDaysACommin.push(obj);
            })

            console.log('newDaysACommin[0].week ',newDaysACommin[0].week)
            let firstDayWeek = newDaysACommin[0].week;
            if(firstDayWeek != 0){
                for(let i = 0; i < firstDayWeek; i++){
                    newDaysACommin.unshift({day: null, week: i, events: [], date: null});
                }
            }

            console.log('newDaysACommin ',newDaysACommin);
            days = newDaysACommin;
        }

        const renderCalendar = (days) => {
            divCalendarWeek.innerHTML = '';

            days.map(item => {                
                divCalendarWeek.innerHTML += `<div class="calendar-day ${item.date == date.toDateString() ? 'today' : ''}"><p>${item.day != null ? item.day : ''}</p></div>`;
            })
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            generateDays(date);
            renderCalendar(days);
        });

    </script>
</body>
</html>